{% extends "layout.html" %}
{% block content %}
<div class="px-4 py-5 my-5 bg-light text-center">
    <h1 class="display-5 fw-bold">POSTDATA's poetry similarity app</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">This application shows similar poems to a given
            one.
            You can select a poem from our catalog or write your own.</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <a href="{{ url_for('search.search') }}"
               class="btn btn-dark btn-lg px-4 gap-3">Search poem</a>
            <a href="{{ url_for('write.write_poem') }}"
               class="btn btn-dark btn-lg px-4 gap-3">Write poem</a>
            </button>
        </div>
    </div>
</div>
{% endblock %}

