{% extends "layout.html" %}
{% block css %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
      crossorigin="anonymous"
/>
{% endblock %}
{% block content %}
<div class="container-xxl">
    <div class="row">
        <div class="col-lg-4">
            <div class="card card-song">
                <h3 class="card-header">
                    {% if song.track_name %}
                    {{ song.artist_name }} - {{ song.track_name }}
                    {% else %}
                    Text of the poem:
                    {% endif %}
                </h3>
                <div class="card-body">
                    <div class="lyrics">
                        <p class="card-text">
                            {{ song }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card card-results">
                <h3 class="card-header">Similarity based on: {{
                    selection[0] }} information</h3>
                <div class="card-body list-group">
                    {% if annoy_songs_1 %}
                    {% for key, annoy_song in annoy_songs_1.items() %}
                    <a class="list-group-item list-group-item-action flex-column align-items-center"
                       data-toggle="collapse"
                       href="#annoy_1-{{ annoy_song.id }}"
                       role="button" aria-expanded="false"
                       aria-controls="annoy_1-{{ annoy_song.track_name }}">
                        <div class="d-flex justify-content-between">
                            <h5 class="mb-1 text-primary">{{
                                annoy_song.track_name }}</h5>
                            <span class="badge badge-primary badge-pill">Similarity: {{ '{:.3f}'.format(annoy_song.annoy_score) }}</span>
                        </div>
                        <small>{{ annoy_song.artist_name }}</small>
                    </a>
                    <div class="collapse" id="annoy_1-{{ annoy_song.id }}">
                        <div class="card card-body">
                            {% for stanza in annoy_song.lyrics.split("\n\n")
                            %}
                            <p class="stanza card-text">
                                {% for line in stanza.split("\n") %}
                                {{ line }}
                                <br>
                                {% endfor %}
                            </p>
                            {% endfor %}
                        </div>
                    </div>
                    {% endfor %}
                    {% else %}
                    <p>No nearest songs</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div><!-- /.row -->
</div>
{% endblock %}
{% block js %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>
{% endblock %}

