{% extends "layout.html" %}
{% block content %}
<div class="container-xl">
    <div class="row">
        <div class="col-lg-6">
            <div class="card card-song text-dark bg-light mb-3">
                <div class="card-header">
                    <h3>
                        {% if poem._source.author %}
                        {{ poem._source.poem_title }} - <small>{{ poem._source.author }}</small>
                        {% elif poem._source.song_id %}
                        {{ poem._source.song_id }}
                        {% else %}
                        Text of the poem:
                        {% endif %}
                    </h3>
                </div>
                <div class="card-body">
                    <div class="lyrics">
                        {% for stanza in poem._source.text.split("\n\n") %}
                        <p class="stanza card-text">
                            {% for line in stanza.split("\n") %}
                            {{ line }}
                            <br>
                            {% endfor %}
                        </p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        {% if similar_poems %}
        <div class="col-lg-6">
            <div class="card card-results">
                <div class="card-header">
                <p>Similar poems based on: <code>{{ selection.model }}</code>
                    embeddings, granularity: <code>{{ selection.granularity }}</code>,
                    composition function: <code>{{ selection.composition_fn }}</code> and
                    composition of composition function: <code>{{ selection.cofc_fn }}</code>
                    {% if selection.beta_ICM %}
                    with β value <code>{{ selection.beta_ICM }}</code>
                    {% endif %}</p>
                </div>
                <div class="card-body">
                    {% for hit in similar_poems %}
                    <a class="list-group-item flex-column align-items-center"
                       data-bs-toggle="collapse"
                       href="#similar-{{ hit._source.song_id }}"
                       role="button" aria-expanded="false"
                       aria-controls="similar-{{ hit._source.song_id }}">
                        <div class="d-flex justify-content-between">
                            <h5 class="mb-1">
                                {{ hit._source.poem_title}} - <small>
                            {{ hit._source.author }} </small>
                            </h5>
                            <div>
                                <span class="badge bg-dark align-middle">
                                Score: {{ '{:.3f}'.format(hit._score-1) }}
                                </span>
                            </div>
                        </div>
                    </a>
                    <div class="collapse" id="similar-{{ hit._source.song_id }}">
                        <div class="card card-body">
                            {% for stanza in hit._source.text.split("\n\n")
                            %}
                            <p class="stanza card-text">
                                {% for line in stanza.split("\n") %}
                                {{ line }}
                                <br>
                                {% endfor %}
                            </p>
                            {% endfor %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endif %}
    </div><!-- /.row -->
</div>
{% endblock %}
