{% extends "layout.html" %}
{% block content %}
<!-- barra de busqueda por titulo y/o autor -->
<h1>Free Text insert</h1>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <form class="form" id="freeTextForm" method="POST" action=""
                  role="form">
                {{ form.csrf_token }}
                <div class="form-row">
                    <div class="col">
                        <div class="input-group">
                            {{ form.text_area(rows="12", cols="40") }}
                        </div>
                    </div>
                    <div class="col-md-3">
                        <h4>Vector 1: </h4>
                        <div class="form-check">
                            {{ form1.spacy(class_="form-check-input",
                            id="spacy") }}
                            {{ form1.spacy.label(class_="form-check-label",
                            for_="spacy") }}
                        </div>
                        <div class="form-check">
                            {{ form1.topics(class_="form-check-input",
                            id="topics") }}
                            {{ form1.topics.label(class_="form-check-label",
                            for_="topics") }}
                        </div>
                    </div>
                    <div class="col-md-3">
                        <h4>Vector 2: </h4>
                        <div class="form-check">
                            {{ form2.spacy(class_="form-check-input",
                            id="spacy-2") }}
                            {{ form2.spacy.label(class_="form-check-label",
                            for_="spacy-2") }}
                        </div>
                        <div class="form-check">
                            {{ form2.topics(class_="form-check-input",
                            id="topics-2") }}
                            {{ form2.topics.label(class_="form-check-label",
                            for_="topics-2") }}
                        </div>
                    </div>
                </div>
                <button class="btn btn-primary" type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}